@tailwind base;
@tailwind components;
@tailwind utilities;

/*Custom Styles Here*/

/* Underline Hover Effect*/
.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 10px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-blue {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#dcfce7, #dcfce7);
}

.link-effect:hover .link-underline,
.link-underline:hover {
  background-size: 100% 10px;
  background-position: 0 100%;
}
